<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="QLGVEntities" connectionString="metadata=res://*/QLGVEntities.csdl|res://*/QLGVEntities.ssdl|res://*/QLGVEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=NHANTRAN0983\SQLEXPRESS;Initial Catalog=QuanLyGiaoVien;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="_1191021127.QuanLyGiaoVien.UI.Properties.Settings.QuanLyGiaoVienConnectionString"
      connectionString="Data Source=NHANTRAN0983\SQLEXPRESS;Initial Catalog=QuanLyGiaoVien;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="_1191021127.QuanLyGiaoVien.UI.Properties.Settings.QuanLyGiaoVienConnectionString1"
      connectionString="Data Source=NGHIATRAN-PC;Initial Catalog=QuanLyGiaoVien;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>